.calculator {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(248, 248, 248);
}

.calculator-screen {
    width: 100%;
    height: 64pt;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;
    font-size: 24pt;
    box-sizing: border-box;
    overflow-x: auto;
}

.btn {
    display: flex;
    font-size: 24pt;
    width: 48pt;
    height: 48pt;
    padding: 8pt;
    align-items: center;
    justify-content: center;
    margin: 4pt;
    border-radius: 0.25rem;
}

.btn-number {
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.btn-config {
    background-color: rgb(236, 236, 236);
}

.btn-operator {
    background-color: rgb(243, 215, 92);
    font-weight: bold;
}